# Variables de entorno para BugHunt Backend

# Base de datos PostgreSQL
DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=localhost
DB_NAME=bugtracker
DB_PORT=5432

# Cloudinary
CLOUDINARY_CLOUD_NAME=dm7cvkdc7
CLOUDINARY_API_KEY=826314538168866
CLOUDINARY_API_SECRET=**********

# JWT
JWT_SECRET=tu_jwt_secret_super_seguro_aqui
JWT_EXPIRES_IN=24h

# Puerto del servidor
PORT=3000
